<div class="card">
  <div class="card-body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" [routerLink]="'/dashboard'" routerLinkActive="active"> New Patient </a>
      <a class="navbar-brand" [routerLink]="'/profile'" routerLinkActive="active"> Patient List </a>
      <a class="navbar-brand" [routerLink]="'/attendance'" routerLinkActive="active"> Appointments </a>
      <a class="navbar-brand" [routerLink]="'/leaves'" routerLinkActive="active"> Medical History </a>
    </nav>
    <p class="card-text">
      <router-outlet></router-outlet>
    </p>
  </div>
</div>
<br>
<button class="btn btn-success" (click) = "onLogin()">Login</button>
<button class="btn btn-danger" (click) = "onLogout()">Logout</button>